@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="register-section">
    <div class="container pt-5 pb-5 text-center">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>

        <a class="btn bg-green text-light mt-3" id="login" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>

    </div>
</div>