<div class="hero">
    <div class="row h-100">
        <div class="col-lg-6 samsung">
            <img src="~/images/GreenSamsungHand.png" alt="SamsungHand">
        </div>
        <div class="col-lg-6 samsung-mobile text-center pt-3 mb-0">
            <img src="~/images/samsunghand_mobile.png" class="img-fluid" alt="SamsungHand">
        </div>
        <div class="col-lg-6 text-light hero-content">
            <h1>A Faster Way To <br>
                Manage Your Finances
            </h1>
            <p class="fs-5">If we no manage this finance for you, <br>
                sapa fit kill person o. But we no go <br>
                let am win.
            </p>

            <a class="btn yellow-btn" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
        </div>
    </div>
    
    <div class="other-hero opacity-25"></div>
    <div class="goTo-circle"></div>
</div>