@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Header" />

<!-- Services -->
<div class="container mt-5">
    <div class="section-spacing">
        <div class="row mb-4 g-4 align-items-center">
        <div class="col-lg-6">
            <div class="service-text h-100">
                <h2 class="lg-fnt">Enjoy the Best Benefits, <br>
                    No Surprises.
                </h2>                                                                                                                                                                   
                <p class="fs-5">We are always ready to serve you. <br>
                    No hidden charges, your money dey on point
                </p>
            </div>
        </div>
        <div class="col-lg-3 p-4">
            <div class="white-card">
                <div class="blob1">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#D4F3E7" d="M42.7,-32.7C58.4,-14.4,76.3,3.6,76.1,22.5C75.9,41.5,57.6,61.6,35.5,71.3C13.4,81,-12.5,80.4,-34.9,70.4C-57.3,60.4,-76.3,41.1,-82.8,17.5C-89.3,-6.1,-83.4,-33.9,-67.5,-52.3C-51.6,-70.6,-25.8,-79.4,-6.2,-74.5C13.5,-69.6,27,-50.9,42.7,-32.7Z" transform="translate(100 100)" />
                    </svg>
                </div>
                @*<h2 class="lg-fnt text-green">7%</h2>*@
                <img src="~/images/undraw_security_on_re_e491.svg" />
                <p class="fs-4">Guaranteed Security</p>
            </div>
        </div>
        <div class="col-lg-3 p-4">
            <div class="white-card">
                <div class="blob1">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#D4F3E7" d="M42.7,-32.7C58.4,-14.4,76.3,3.6,76.1,22.5C75.9,41.5,57.6,61.6,35.5,71.3C13.4,81,-12.5,80.4,-34.9,70.4C-57.3,60.4,-76.3,41.1,-82.8,17.5C-89.3,-6.1,-83.4,-33.9,-67.5,-52.3C-51.6,-70.6,-25.8,-79.4,-6.2,-74.5C13.5,-69.6,27,-50.9,42.7,-32.7Z" transform="translate(100 100)" />
                    </svg>
                </div>
                @*<h2 class="lg-fnt text-green">0.9%</h2>*@
                <img src="~/images/undraw_savings_re_eq4w.svg" />
                <p class="fs-4">Free Transactions</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 p-4">
            <div class="white-card">
                <div class="blob1">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#D4F3E7" d="M42.7,-32.7C58.4,-14.4,76.3,3.6,76.1,22.5C75.9,41.5,57.6,61.6,35.5,71.3C13.4,81,-12.5,80.4,-34.9,70.4C-57.3,60.4,-76.3,41.1,-82.8,17.5C-89.3,-6.1,-83.4,-33.9,-67.5,-52.3C-51.6,-70.6,-25.8,-79.4,-6.2,-74.5C13.5,-69.6,27,-50.9,42.7,-32.7Z" transform="translate(100 100)" />
                    </svg>
                </div>
                <h2 class="lg-fnt text-green">Awoof</h2>
                <img src="~/images/undraw_opinion_re_jix4.svg" />
                <p class="fs-4">Money for You</p>
            </div>
        </div>
        <div class="col-lg-3 p-4">
            <div class="white-card">
                <div class="blob1">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#D4F3E7" d="M42.7,-32.7C58.4,-14.4,76.3,3.6,76.1,22.5C75.9,41.5,57.6,61.6,35.5,71.3C13.4,81,-12.5,80.4,-34.9,70.4C-57.3,60.4,-76.3,41.1,-82.8,17.5C-89.3,-6.1,-83.4,-33.9,-67.5,-52.3C-51.6,-70.6,-25.8,-79.4,-6.2,-74.5C13.5,-69.6,27,-50.9,42.7,-32.7Z" transform="translate(100 100)" />
                    </svg>
                </div>
                <h2 class="lg-fnt text-green">$0.00</h2>
                <img src="~/images/undraw_going_offline_ihag.svg" class="h-50" />
                <p class="fs-4">POS Fees</p>
            </div>
        </div>
        <div class="col-lg-3 p-4">
            <div class="white-card">
                <div class="blob1">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#D4F3E7" d="M42.7,-32.7C58.4,-14.4,76.3,3.6,76.1,22.5C75.9,41.5,57.6,61.6,35.5,71.3C13.4,81,-12.5,80.4,-34.9,70.4C-57.3,60.4,-76.3,41.1,-82.8,17.5C-89.3,-6.1,-83.4,-33.9,-67.5,-52.3C-51.6,-70.6,-25.8,-79.4,-6.2,-74.5C13.5,-69.6,27,-50.9,42.7,-32.7Z" transform="translate(100 100)" />
                    </svg>
                </div>
                <h2 class="lg-fnt text-green">17%</h2>
                <img src="~/images/undraw_savings_re_eq4w.svg" />
                <p class="fs-4">Interest Rates</p>
            </div>
        </div>
        <div class="col-lg-3 p-4">
            <div class="white-card">
                <div class="blob1">
                    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                      <path fill="#D4F3E7" d="M42.7,-32.7C58.4,-14.4,76.3,3.6,76.1,22.5C75.9,41.5,57.6,61.6,35.5,71.3C13.4,81,-12.5,80.4,-34.9,70.4C-57.3,60.4,-76.3,41.1,-82.8,17.5C-89.3,-6.1,-83.4,-33.9,-67.5,-52.3C-51.6,-70.6,-25.8,-79.4,-6.2,-74.5C13.5,-69.6,27,-50.9,42.7,-32.7Z" transform="translate(100 100)" />
                    </svg>
                </div>
                <h2 class="lg-fnt text-green">0.0%</h2>
                <img src="~/images/undraw_feeling_proud_qne1.svg" />
                <p class="fs-4">Interest Loans</p>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Core Values and Philosophy -->
<div class="container mt-3">
    <div class="section-spacing position-relative">
        <div class="gradient-circle"></div>
        <div class="row">
                <div class="col-lg text-center">
                    <img src="~/images/cards.png" class="w-75"/>
                </div>
                <div class="col-lg text-dark my-auto">
                    <h2 class="lg-fnt">If not Us, then Who?</h2>
                    <p class="fs-4">
                        Your account is your key to unlocking a universe of
                        opportunities.  Whether making international payments,
                        managing your digital business, or accessing capital.  
                        Reen Bank opens your business up to the world.
                    </p>
                </div>
            </div>
        <div class="row mt-5">
            <div class="col-lg mt-5">
                <div class="gloss-bg mt-5 p-5">
                    <h2 class="mb-3">Our Uniqueness</h2>
                    <div class="bg-light mb-3 rounded-5 p-4">
                        <div class="row">
                            <div class="numbering rounded-circle bg-light-green text-green">
                                <p class="fs-1 fw-bold">01</p>
                            </div>
                            <div class="col">
                                <h4>24/7 Delivery</h4>
                                <p>As the money comes, we guaranty full service option on how 
                                    it should work effectively for you.
                                    Believe this shit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light mb-3 rounded-5 p-4">
                        <div class="row">
                            <div class="numbering rounded-circle bg-light-green text-green">
                                <p class="fs-1 fw-bold">02</p>
                            </div>
                            <div class="col">
                                <h4>24/7 Delivery</h4>
                                <p>As the money comes, we guaranty full service option on how 
                                    it should work effectively for you.
                                    Believe this shit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light mb-3 rounded-5 p-4">
                        <div class="row">
                            <div class="numbering rounded-circle bg-light-green text-green">
                                <p class="fs-1 fw-bold">02</p>
                            </div>
                            <div class="col">
                                <h4>24/7 Delivery</h4>
                                <p>As the money comes, we guaranty full service option on how 
                                    it should work effectively for you.
                                    Believe this shit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-25"></div>
            </div>
            <div class="col-lg">
                <div class="h-25"></div>
                <div class="gloss-bg mt-5 p-5">
                    <h2 class="mb-3">Our Uniqueness</h2>
                    <div class="bg-light mb-3 rounded-5 p-4">
                        <div class="row">
                            <div class="numbering rounded-circle bg-light-green text-green">
                                <p class="fs-1 fw-bold">01</p>
                            </div>
                            <div class="col">
                                <h4>24/7 Delivery</h4>
                                <p>As the money comes, we guaranty full service option on how 
                                    it should work effectively for you.
                                    Believe this shit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light mb-3 rounded-5 p-4">
                        <div class="row">
                            <div class="numbering rounded-circle bg-light-green text-green">
                                <p class="fs-1 fw-bold">02</p>
                            </div>
                            <div class="col">
                                <h4>24/7 Delivery</h4>
                                <p>As the money comes, we guaranty full service option on how 
                                    it should work effectively for you.
                                    Believe this shit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light mb-3 rounded-5 p-4">
                        <div class="row">
                            <div class="numbering rounded-circle bg-light-green text-green">
                                <p class="fs-1 fw-bold">02</p>
                            </div>
                            <div class="col">
                                <h4>24/7 Delivery</h4>
                                <p>As the money comes, we guaranty full service option on how 
                                    it should work effectively for you.
                                    Believe this shit.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Testimonial section -->
<div class="container mt-5 mb-5">
    <div class="section-spacing">
        <h2 class="lg-fnt text-center mb-3">Hear From Other People</h2>
        <p class="text-center mb-5">E get wetin dem dey always yarn about us wey you suppose hear 
            why we be the real deal</p>
        <div class="testimonial-content mt-5 mb-5 position-relative">
            <div class="testimonial-card col-lg-4 p-4 rounded-5 bg-green text-light">
                <div class="mouth-circle rounded-circle bg-light">
                    <div class="bg-green inner-mouth rounded-circle"></div>
                </div>
                <p>
                    I just love how my finances are been managed.  I feel safe and love the interface spreadsheet for easy monitoring
                </p>
                <hr />
                <p>JOSHUA SOLOMON</p>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid bg-green mt-5">
    <div class="section-spacing">
        <div class="footer-content">

        </div>
    </div>
</div>
*@